* {
    margin: o;
    padding: 0;
    box-sizing: 0;
}

:root{
    font-size: 62,.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . ."
    ;
    
}

main{
    grid-area: form;
}

aside{
    grid-area: hero;
}

aside h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span, main h2 span{
    color: #FF5678; 
}

main{
    width: 60rem;
    height: 52rem;
    border: 0.1rem, solid rgba(0, 0, 0, 15);
    padding: 4.4rem 5.7rem ;
    border-radius: 1.2rem;
    
    border-style: hidden;

}

main h2{
    width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions{
    display: flex;
    flex-flow: column wrap;
}

main .actions a{
    border-radius: 1.2rem;
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: #35E6E9;
    color: white;
    margin-top: 5.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .actions a+a{
    background-color: #FF5678;
    margin-top: 4.8rem;
}

main footer p {
    margin-top: 8rem;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
}

main footer a{
    margin-top: 1rem;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
}